<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderVariantField>
        <processor runIfAborted="true" type="SitecoreCommunity.SXA.Foundation.RenderingVariants.Pipelines.RenderVariantField.AddMissingLinkAttributes, SitecoreCommunity.SXA.257176"
                   patch:after="*[@type='Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderSection, Sitecore.XA.Foundation.RenderingVariants']" />
      </renderVariantField>
    </pipelines>
  </sitecore>
</configuration>
